#teamicons {
    margin-top: 5px;
    width: 578px;
    position:relative;
}

ul#team {
    margin: 0 0 0 -4px;
    padding: 0;
    overflow: hidden;

}
ul#team li {
    margin: 0; 
    padding: 0;
    position: relative;
}
ul#team li {
    display: inline;
}
#team li a:link, #team li a:visited {
    display: block;
    float: left;
    height: 93px;
    margin-bottom: 4px;
    overflow: hidden;
    padding: 0;
    margin-left: 4px;
    width: 93px;
}

#team li a {
    text-decoration: none;
    width: 93px;
    height: 93px;
}

#team li a.prof:hover {
    width: 93px;
    height: 93px;
    overflow: hidden;
}

/* hoverdings*/
#team li a.prof em, #team li  span { display: none;}
#team li {
    position: relative; 
}
@media (min-width: 675px) {

    #team li:hover div.box p.box-readmore { }
    #team li a.prof:hover span {
        display: block; 
        position: absolute;
        width: 270px;
        height: 182px;
        background: transparent url("../../uploads/professoren/bg-team-li.png") no-repeat;
        z-index: 20;
        padding: 10px 10px 5px 10px;
    }
    #team li a.prof:hover em {
        background: transparent url("../../uploads/professoren/bg-team-arrow.png") no-repeat;
        display: block;
        position: absolute;
        z-index: 30;
        width: 93px;
    }
    
    #team li.row4 a:hover em,
    #team li.row5 a:hover em,
    #team li.row6 a:hover em,
    #team li.row7 a:hover em,
    #team li.row8 a:hover em{
        background: transparent url("../../uploads/professoren/bg-team-arrow-top.png") no-repeat;
    
    }

}

#team li h3 {
    color: #018ebc;
    font-size: 13px;
    margin: 0px 0 10px 0;
}

#team li p {
    font-size: 12px;
    color: #474747;
    margin: 6px 0;
    line-height: 115%;
}

#team li ul i {
    text-decoration: underline;
    font-style: normal;
    color: #000;
}

#team li a ul.details {
    margin: 0;
    padding: 0;
}

#team li a ul.details li {
    list-style-type: none;
    color: #474747;
    font-size: 12px;
    margin: 0 0 5px 0 !important;
    display: block;
    line-height: 100%;
    text-align: left;
}

#team li pre {
    color: #ECECEC;
    font-size: 14px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    right: 10px;
    background: #319EC7;
    padding: 3px;
    font-family: Arial,"Helvetica Neue",Helvetica,Geneva,sans-serif;
    -moz-border-radius:3px;
-khtml-border-radius:3px;
    line-height: 105%;
}

/* Row 1 */
#team li.row1:hover a span {
    top: 97px;  
}
#team li.row1:hover a em {
    top: 88px;  
}

#team li.row2:hover a span {
    top: 194px; 
}
#team li.row2:hover a em {
    top: 185px; 
}

#team li.row3:hover a span {
    top: 291px; 
}
#team li.row3:hover a em {
    top: 282px; 
}


#team li.row4:hover a span {
    top: 97px;  
}
#team li.row4:hover a em {
    top: 286px; 
}

#team li.row5:hover a span {
    top: 194px;
}
#team li.row5:hover a em {
    top: 383px; 
}

#team li.row6:hover a span {
    top: 291px;
}
#team li.row6:hover a em {
    top: 480px; 
}

#team li.row7:hover a span {
    top: 388px;
}
#team li.row7:hover a em {
    top: 577px; 
}
#team li.row8:hover a span {
    top: 485px;
}
#team li.row8:hover a em {
    top: 674px; 
}






#team li a.col4:hover span {
    right: 191px;
}

#team li a.col5:hover span {
    right: 94px;
}
#team li a.col6:hover span {
    right: -3px;
}
#team li a.col7:hover span {
    right: -100px;
}
#team li a.col8:hover span {
    right: -197px;
}


/*Für Safari and Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
#team li a.col4:hover span {
    left: 101px;
}
#team li a.col5:hover span {
    left: 198px;
}
#team li a.col6:hover span {
    left: 295px;
}
#team li a.col7:hover span {
    left: 392px;
}
#team li a.col8:hover span {
    left: 489px;
}
}



.tablelistkontakt td .profs{color: #474747;}
.tablelistkontakt td{height: 25px; padding-left: 5px;}
.tablelistkontakt{max-width:300px; margin-top:30px;}


#teamicons #team{text-align:left;}
